html, body {
    display: flex;
    background-color: #2e3440;
    height: 100%;
    align-items: center;
    justify-content: center;
}

img {
    user-select: none;
    animation-name: pulsate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes pulsate {
    from {
        opacity: 1;
        transform: scale(1);
        filter: saturate(1);
    }
    to {
        opacity: 0.5;
        transform: scale(0.99);
        filter: saturate(0.4);
    }
}